{
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "none",
  "printWidth": 130,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
